bloodpressure_tracking/Connected Services/wcfService/BloodPressureWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBloodPressureReading">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BloodPressureReading" nillable="true" type="tns:BloodPressureReading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBloodPressureReading" nillable="true" type="tns:ArrayOfBloodPressureReading" />
  <xs:complexType name="BloodPressureReading">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diastolic" type="xs:int" />
      <xs:element minOccurs="0" name="ReadingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Systolic" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BloodPressureReading" nillable="true" type="tns:BloodPressureReading" />
</xs:schema>